In [1]:
participant = ["leo", "kiki", "eden"]
completion = ["eden", "kiki"]

In [12]:
def solution(participant, completion) :
    answer = ""
    part_dict = {}
    
    for p in participant :
        part_dict[p] = part_dict.get(p,0) + 1
        
    for c in completion :
        part_dict[c] -= 1
        
        if part_dict[c] == 0 :
            del part_dict[c]

    return list(part_dict)[0]

In [13]:
solution(participant, completion)

'leo'

In [178]:
phone_book = ["119", "97674223", "976742233"]

In [173]:
phone_book = ["123","456","789"]

In [142]:
phone_book = ["12","123","1235","567","88"]

In [179]:
def solution(phone_book) :
    answer = False
    
    phone_book = sorted(phone_book)
    
    max_length = len(phone_book[-1])+1
    i = len(phone_book[0])
    
    while(i < max_length) :
        num_dict = {}
        for num in phone_book :
            num_dict[num[:i]] = num_dict.get(num[:i], 0) + 1
        
        print(num_dict)
            
        if len(num_dict) != len(phone_book) :
            return False
        else :
            i += 1
    
    
    return answer

In [180]:
def solution(phone_book):
    phone_book.sort(key=str.lower,reverse=True)
    for i in range(len(phone_book)-1):
        k = phone_book[i]
        print(k)
        if k.startswith(phone_book[i+1]): 
            return False
    return True

In [181]:
solution(phone_book)

976742233

False

In [1]:
def dfs(numbers, i, n, target) :
    ret = 0
    
    if (i == len(numbers)) :
        if (n == target) : return 1
        else : return 0
    
    ret += dfs(numbers, i+1, n+numbers[i], target)
    ret += dfs(numbers, i+1, n-numbers[i], target)
    return ret

def solution(numbers, target):
    answer = 0
    
    answer += dfs(numbers, 0, 0, target)
    return answer

In [2]:
numbers = [1, 1, 1, 1, 1]
target= 3

In [3]:
solution(numbers, target)

5

# Greedy

In [1]:
first_row = '5 8 3'
second_row = '2 4 5 4 6'

In [12]:
def solution(first_row, second_row) :
    answer = 0
    
    n, m, k = map(int, first_row.split())
    data = list(map(int, second_row.split()))
    
    data.sort()
    max_val = data[n-1]
    second_val = data[n-2]
    
    while True:
        for i in range(k) :
            if m == 0:
                break
            answer += max_val
            m -= 1
        if m == 0:
            break
        answer += second_val
        m -= 1
    
    return answer

In [25]:
def solution2(first_row, second_row):
    answer = 0
    n, m, k = map(int, first_row.split())
    data = list(map(int, second_row.split()))
    
    data.sort()
    first_val = data[n-1]
    second_val = data[n-2]
    
    count = int(m/(k+1)) * k
    count += m % (k+1)
    
    answer += count * first_val
    answer += (m-count) * second_val

    return answer

In [15]:
solution(first_row, second_row)

46

In [26]:
solution2(first_row, second_row)

46

In [27]:
data1 = '3 3'
data2 = '3 1 2'
data3 = '4 1 4'
data4 = '2 2 2'

In [32]:
def solution(data1, data2, data3, data4):
    answer = 0
    n, m = map(int, data1.split())
    
    row1 = list(map(int, data2.split()))
    row2 = list(map(int, data3.split()))
    row3 = list(map(int, data4.split()))
    answer = max(min(row1), min(row2), min(row3))
    return answer

In [35]:
def solution2(data1, data2, data3, data4) :
    answer = 0
    n, m = map(int, data1.split())
    
    rows = []
    row1 = list(map(int, data2.split()))
    row2 = list(map(int, data3.split()))
    row3 = list(map(int, data4.split()))
    rows.append(row1)
    rows.append(row2)
    rows.append(row3)
    
    for row in rows:
        min_val = 10001
        for elem in row:
            min_val = min(elem, min_val)
        answer = max(min_val, answer)
            
    return answer

In [36]:
solution(data1, data2, data3, data4)

2

In [37]:
solution2(data1, data2, data3, data4)

2

In [38]:
data = '25 5'

In [52]:
def solution(data):
    answer = 0
    n, k = map(int, data.split())
    
    answer += n%k
    
    while n%k == 0 and n//k > 0: # 혹은 n>=k
        n = n//k
        answer += 1
    
    return answer

In [53]:
solution(data)

2

In [1]:
from collections import defaultdict
import math

In [2]:
def solution(fees, records):
    answer = []
    
    car_in_dict = defaultdict(lambda:'')
    total_time = defaultdict(int)
    
    for record in records :
        time, num, act = record.split()
        
        if act == 'IN' :
            car_in_dict[num] = time
        else :
            total_time[num] += hour_to_minute(time) - hour_to_minute(car_in_dict[num])
            car_in_dict[num] = ''
    
    for num in car_in_dict :
        if car_in_dict[num] != '' :
            total_time[num] += hour_to_minute('23:59') - hour_to_minute(car_in_dict[num])
    
    total_time = sorted(total_time.items())
    
    for num, time in total_time :
        answer.append(calculate_fee(time, fees))
        
    return answer

In [3]:
def hour_to_minute(time) :
    hour, minute = time.split(':')
    minute = int(hour) * 60 + int(minute)
    return minute

In [4]:
def calculate_fee(time, fees) :
    fee = 0
    time = int(time)
    if time > fees[0] :
        fee += fees[1] + math.ceil((time-fees[0])/fees[2]) * fees[3]
    else :
        fee += fees[1]
    return fee

In [5]:
fees = [180, 5000, 10, 600]
records = ["05:34 5961 IN", "06:00 0000 IN", "06:34 0000 OUT", "07:59 5961 OUT", "07:59 0148 IN", "18:59 0000 IN", "19:09 0148 OUT", "22:59 5961 IN", "23:00 5961 OUT"]

In [6]:
fees = [120, 0, 60, 591]
records = ["16:00 3961 IN","16:00 0202 IN","18:00 3961 OUT","18:00 0202 OUT","23:58 3961 IN"]

In [7]:
fees = [1, 461, 1, 10]
records = ["00:00 1234 IN"]

In [8]:
solution(fees, records)

[14841]

In [62]:
def get_score(ryan, info) :
    score = 0
    for i in range(11) :
        if ryan[i] == info[i] == 0 :
            continue
        if ryan[i] > info[i] :
            score += 10-i
        else :
            score -= 10-i
    return score

In [63]:
def dfs(point, left, info, temp, answer, result) :
    if point == -1 and left :
        return answer, result
    if left == 0 :
        score = get_score(temp, info)
        if result < score :
            answer = temp[:]
            result = score
        return answer, result
    for i in range(left, -1, -1) :
        temp[point] = i
        answer, result = dfs(point-1, left-i, info, temp, answer, result)
        temp[point] = 0
    return answer, result

In [64]:
def solution(n, info) :
    answer = []
    answer = [0 for _ in range(11)]
    temp = [0 for _ in range(11)]
    
    answer, result = dfs(10, n, info, temp, answer, 0)
    return answer if result != 0 else [-1]

In [65]:
n = 5
info = [2,1,1,1,0,0,0,0,0,0,0]
#[0,2,2,0,1,0,0,0,0,0,0]

In [67]:
n = 1
info = [1,0,0,0,0,0,0,0,0,0,0]
#[-1]

In [69]:
n = 9
info = [0,0,1,2,0,1,1,1,1,1,1]
#[1,1,2,0,1,2,2,0,0,0,0]

In [71]:
n = 10
info = [0,0,0,0,0,0,0,0,3,4,3]
#[1,1,1,1,1,1,1,1,0,0,2]

In [72]:
solution(n, info)

[1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 2]